html
  head
    title= title
    script.
      window.TOKEN = '#{authToken}';
      window.IP = '#{ip}';
      window.PORT = '#{port}';
    link(type='text/css',rel='stylesheet',href='/css/site.css')
    script(type='text/javascript',src='#{protocol}://#{host}:#{port}/socket.io/socket.io.js')
    script(type='text/javascript',src='/node_modules/react/dist/react.js')
    script(type='text/javascript',src='/node_modules/react-dom/dist/react-dom.js')
    script(type='text/javascript',src='/js/lounge/lib/event.js')
    script(type='text/javascript',src='/js/lounge/lib/store.js')
    script(type='text/javascript',src='/js/lounge/stores/activities.js')
    script(type='text/javascript',src='/js/lounge/stores/messages.js')
    script(type='text/javascript',src='/js/lounge/components/activity.js')
    script(type='text/javascript',src='/js/lounge/components/activities.js')
    script(type='text/javascript',src='/js/lounge/components/chat.js')
    script(type='text/javascript',src='/js/lounge/components/messages.js')
    script(type='text/javascript',src='/js/lounge/components/message.js')
    script(type='text/javascript',src='/js/lounge/components/command-input.js')
    script(type='text/javascript',src='/js/lounge/components/app.js')
    script(type='text/javascript',src='/js/main.js')
  body

    div#app